<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} · FermentarBK</title>
  <link rel="stylesheet" href="/fermentarBK/styles/styles.css">
</head>
<body>

  <div class="menu">
    <a href="../index.html">Home</a>
    <a href="../fermento.html">Fermentación</a>
    <a href="../recetas.html">Recetas</a>
    <a href="../perfumes.html">Perfumes</a>
    <a href="../laboratorio.html">Herramientas</a>
  </div>

  {{ content }}

</body>
</html>
